body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
  background-repeat: no-repeat;
  overflow: auto;
}

.container{
  margin-top: 2vh;
  display: flex;
  height: 90vh;
  width: 100vw;
  position: relative;
}
.left {
  background-color: white;
  overflow-y: auto;
  flex: 0 1 100%;
  height: 100%;
}
.sx {
  background-color: #eaeaea;
  width: 100%;
  flex: 0 1 100%;
}
.right {
  position: relative;
  flex: 1 1 100%;
  height: 100%;
}

#utente {
  height: 70px;
  width: 70px;
  border: 1px solid 0.1;
  border-radius: 50px;
  margin-left: 20px;
}

.header-left {
  display: inline-block;
  margin: 8px;
  flex: 0 1 100%;
}
.header-left-center {
  display: inline-block;
  margin-top: 20px;
  flex: 0 1 100%;
}
.header-left-dx {
  display: inline-block;
  margin-left: 35px;
  flex: 0 1 100%;
}
.header-left-dx > i {
  margin-right: 15px;
  color: gray;
  opacity: 0.7;
  font-size: 20px;
  flex: 0 1 100%;
}
.img-list > h5 {
  margin-left: 10px;
  margin-top: 20px;
}
.notific {
  background-color: #8edafc;
  display: inline-block;
  width: 100%;
  flex: 0 1 100%;
}

.text-notific {
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  display: inline-block;
  flex: 0 1 100%;
}
a {
  color: black;
  text-decoration: underline;
}
.notific > i {
  color: #8edafc;
  border: 1px solid white;
  background-color: white;
  border-radius: 90px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-top: 15px;
  padding: 10px;
}
.search-chat {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  flex: 0 1 100%;
}
#button-addon1 {
  border: none;
}

#lista-utenti {
  width: 60px;
  border: 1px solid 0.1;
  border-radius: 50px;
}

.chat-left {
  display: inline-block;
  width: 100%;
  overflow: auto;
  flex: 0 1 100%;
}
.chat-left > h6 {
  margin-left: 20px;
}

#img-mess{
height: 70px;
width: 70px;
border: 1px solid 0.1;
border-radius: 50px;
margin-left: 5px;
margin-top: 10px;
}
.top-message {
  background-color: #eaeaea;
  width: 100%;
  height: 85px;
  display: inline-block;
  flex: 1 1 100%;
}
.top-message > h5 {
  margin-left: 10px;
  margin-right: 350px;
}
.icon-message{
  display: inline-flex;
  flex: 1 1 100%;
}
.icon-message > i {
  color: gray;
  opacity: 0.7;
  font-size: 20px;
  flex: 1 1 100%;
}

.chat {
  background-image: url('../img/mine.jpg');
  width: 100%;
  height: 80%;
  overflow-y:auto;
  flex: 1 1 100%;
}

.btn-outline-secondary {
  background-color: lightgray;
  border: none;
}
.message {
  border: 6px solid lightgray;
  flex: 1 1 100%;
}
.new > input {
  height: 60px;
}

.messaggi {
  margin-top: 0;
  height: 25px;
  background-color: lightgreen;
  height: 15%;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}

#data {
  float: right;
  font-size: 12px;
}
